.App {
  font-family: sans-serif;
  text-align: center;
}
.numberbox {
  font-size: 16px;
  padding: 2px;
  width: 64px;
  text-align: center;
  margin-right: 8px;
}
.textbox {
  font-size: 16px;
  padding: 2px;
  width: 200px;
  text-align: left;
  margin-right: 8px;
}